
* {
    box-sizing: border-box;
}

body {
    background: url("images/eagle_nebula.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Trebuchet MS", sans-serif;
    color: white;
}

.upper_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;q
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

}

img#jojojordie_logo {
    display: block;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    width: auto;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 33px;
    border-radius: 25px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.about {
    background-color: rgba(230, 38, 31, 0.80);
}

.education {
    background-color:  rgba(235, 117, 50, 0.80);
}

.experience {
    background-color:  rgba(247, 208, 56, 0.80);
}

.skills {
    background-color: rgba(163, 224, 72, 0.80);
}

.interests {
    background-color: rgba(52, 187, 230, 0.80);
}

.contact {
    background-color: rgba(67, 85, 219, 0.80);
}

h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}

.bio_title {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (min-width: 601px) {
    .card {
        min-width: 300px;
        max-width: 300px;
    }

    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 769px) {
    .card {
        min-width: auto;
        max-width: auto;
        margin-top: 66px;
    }
    
    .wrapper {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }


@media (min-width: 1000px) {
    .card {
    }
    .wrapper {
        align-items: center;
        justify-content: space-evenly;
    }
    }
}